{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>

        {% block title %}
            Mandarin Quiz
        {% endblock %}

    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}">

</head>

<body>

<header>

    <h1>

        Mandarin Quiz

    </h1>

    <div class="header-actions">
        {% if user.is_authenticated %}
            <span>Halo, {{ user.username }}</span>
            <a href="{% url 'logout' %}"><button class="header-button">Logout</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button class="header-button">Login</button></a>
        {% endif %}
    </div>

</header>

<main>

    {% block content %}

    {% endblock %}

</main>

</body>

</html>